@import url("https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200&family=Source+Sans+Pro:wght@300;400&family=Ubuntu+Condensed&display=swap");
nav {
  background-color: #7c3359;
}
nav img {
  width: 3em;
}
nav img[src="./img/icons/cartWhite.webp"] {
  width: 2em;
  cursor: pointer;
}
nav a {
  color: white !important;
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px 0px;
  background-image: url("/img/footer.webp");
  margin-top: auto;
}
footer a {
  color: white;
  font-size: 1.2em;
}
footer p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}
footer img {
  color: white;
  width: 1.3em;
  margin-right: 5px;
}
footer h3 {
  color: white;
}

body {
  background-color: #f0e6c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-family: "Ubuntu Condensed", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

h1 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2.7em;
  color: rgb(75, 75, 75);
}

h3 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.4em;
}

h2, h4, h5, li {
  font-family: "Ubuntu Condensed", sans-serif;
}

.popup h2 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
}
.popup h3 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
  padding: 0px 50px;
}
.popup img {
  padding: 15px;
  width: 85%;
}

.offcanvas {
  background-color: #7c3359;
}

.cCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  font-family: "Source Sans Pro", sans-serif;
  margin: 5px;
  transform: rotate(0);
}
.cCard img {
  padding: 10px;
  border-radius: 20px;
  width: 95%;
}
.cCard a {
  margin-bottom: 5px;
}
.cCard h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  cursor: default;
}
.cCard input {
  opacity: 0;
}

.longCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.accGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  text-align: center;
}

.buttn {
  background-color: #e7c380;
  border: 0.5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103);
  font-family: "Ubuntu Condensed", sans-serif;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
  font-size: 1.2em;
}

.buttn:hover {
  color: black;
}

.cardHover:hover {
  background-color: rgb(223, 223, 223);
  transition-duration: 0.3s;
}

.cardColorCheck {
  background-color: #ffe9b9;
}

.cfSwal {
  text-align: start;
  word-break: normal;
}
.cfSwal h2 {
  text-align: center;
}

.accCustom button {
  color: white !important;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #69224e;
}

.accordion-button {
  color: black;
  background-color: #69224e;
}

.carritoVacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 150px 0px 400px 0px;
}

.myCarousel {
  width: auto;
  margin-left: 120px;
  margin-right: 120px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  margin: 2px 0px;
  margin-left: auto;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hiddenCarousel {
  display: none;
}

#btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 999;
}
#btnBox button {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}
#btnBox img {
  width: 75%;
}
#btnBox svg {
  width: 75%;
}

#filtros {
  padding: 10px;
}
#filtros h2 {
  color: white !important;
  font-family: "Ubuntu Condensed", sans-serif;
}
#filtros h3 {
  font-size: 2em;
}
#filtros ul {
  list-style: none;
  margin-top: 0;
  padding-left: 10px;
}
#filtros ul li {
  margin: 8px 0px;
  font-size: 1.1em;
}
#filtros button {
  margin-bottom: 15px;
}

#carrito {
  background-color: white;
  margin: 5px 0px;
  padding: 16px;
}
#carrito h3 {
  font-size: 1em;
}
#carrito img {
  width: 80px;
  height: 80px;
}

#cell1, #cell2, #cell3, #cell4, #cell5, #cell6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
}
#cell1 img, #cell2 img, #cell3 img, #cell4 img, #cell5 img, #cell6 img {
  width: 90%;
  margin-bottom: 10px;
}
#cell1 div, #cell2 div, #cell3 div, #cell4 div, #cell5 div, #cell6 div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#franjaTop {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  background-image: url("/img/madera.webp");
  background-size: cover;
}
#franjaTop img {
  width: 130px;
}

#offcanvasBottom h3, #offcanvasBottom h5 {
  color: white;
}

#containerMap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: url("/img/test.webp");
  width: 100%;
  min-height: 20vh;
  padding: 15px;
  margin: 5px 0px;
}

#cmColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 20px;
}
#cmColumn img {
  width: 85%;
}
#cmColumn div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

#cmIframe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}
#cmIframe iframe {
  width: 100%;
  height: 100%;
}

#formPedido {
  background-color: white;
  padding: 15px;
}
#formPedido form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#formPedido form input {
  margin: 2px 0px;
}
#formPedido #nombreCorreo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#formPedido #radiosRetiro {
  margin: 0px 15px;
}
#formPedido #radiosRetiro div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5px 0px;
}
#formPedido #envRet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#formPedido #divBoton {
  margin: auto 0px auto auto;
}

#botonesIndex {
  background-color: #7c3359;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 20vh;
  padding: 15px;
}
#botonesIndex h2 {
  color: white;
  margin: 0px;
}
#botonesIndex a {
  background-color: #69224e;
  width: 100%;
  height: 20vh;
  margin: 0px 5px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#botonesIndex a:hover {
  background-color: #88466f;
}

@media (max-width: 525px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    flex-wrap: nowrap;
    padding: 10px 40px;
  }
  footer section {
    margin: 10px 0px;
  }
  #btnBox {
    top: 200px;
    left: 10px;
  }
  #btnBox button {
    width: 60px;
    height: 60px;
  }
  h1 {
    font-size: 1.8em;
  }
  #cmColumn img {
    width: 100%;
  }
}
@media (min-width: 865px) {
  #contentBlock {
    margin: 1% 10%;
  }
  #filtros {
    padding: 0px;
  }
  .accordion-button::after {
    display: none;
  }
}
@media (max-width: 950px) {
  .accGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  #cmColumn {
    height: 100%;
    margin-left: 5px;
  }
  #cmColumn img {
    width: 95%;
  }
  #cmColumn div {
    margin: 5px 0px;
  }
  #cmIframe {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .accGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  .popup h3 {
    padding: 0px;
  }
  .longCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  .longCard #cell {
    border-bottom: 0.5px solid;
  }
}
@media (max-width: 767px) {
  #cell1, #cell2, #cell3, #cell4, #cell5, #cell6 {
    width: 80%;
  }
  .myCarousel {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #cmColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  #cmColumn img {
    width: 70%;
  }
  .hiddenCarousel {
    display: block;
  }
  .mainCarousel {
    display: none;
  }
  #botonesIndex {
    background-color: #7c3359;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px;
    max-height: 5vh;
  }
  #botonesIndex a {
    margin: 2px 0px;
    min-height: 5vh;
  }
  #botonesIndex a h2 {
    align-self: center;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  #cell1, #cell2, #cell3, #cell4, #cell5, #cell6 {
    width: 85%;
  }
}
@media (min-width: 992px) {
  #btnBox {
    top: 200px;
  }
}/*# sourceMappingURL=main.css.map */