@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200&family=Source+Sans+Pro:wght@300;400&display=swap"); /* ELEMENTOS */
nav {
  background-color: #dfbb92;
}
nav img {
  width: 3em;
}
nav img[src="./img/icons/cart.png"] {
  width: 35px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px 0px;
  background-color: #dfbb92;
}
footer a {
  font-size: 1.2em;
}
footer p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}
footer img {
  width: 1.3em;
  margin-right: 5px;
}

body {
  background-color: #ffe7cb;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
}

/* IDs Y CLASES */
.offcanvas {
  background-color: #dfbb92;
}

.cCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 5px;
  transform: rotate(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.cCard img {
  padding: 10px;
  border-radius: 20px;
  width: 95%;
}
.cCard a {
  margin-bottom: 5px;
}
.cCard h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  cursor: default;
}
.cCard input {
  opacity: 0;
}

.accGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  text-align: center;
}

.buttn {
  background-color: #e46ba3;
  border: 1px solid #70225e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103);
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  border-radius: 5px;
  transition: 0.3s;
  padding: 3px;
}

.buttn:hover {
  background-color: #f372b5;
  color: black;
}

.cardHover:hover {
  background-color: rgb(223, 223, 223);
  transition-duration: 0.3s;
}

.cardColorCheck {
  background-color: yellow;
}

.cfSwal {
  text-align: start;
  word-break: normal;
}
.cfSwal h2 {
  text-align: center;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #dfbb92;
}

.accordion-button {
  color: black;
  background-color: #dfbb92;
}

#btnBox {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 999;
  width: 70px;
  height: 70px;
}
#btnBox img {
  width: 75%;
}

#filtros {
  padding: 10px;
}
#filtros h2 {
  font-family: "Poppins", sans-serif;
}
#filtros h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}
#filtros ul {
  list-style: none;
  margin-top: 0;
  padding-left: 10px;
}
#filtros ul li {
  margin: 8px 0px;
}
#filtros button {
  margin-bottom: 15px;
}

#carrito {
  background-color: white;
}
#carrito h3 {
  font-size: 1em;
}
#carrito img {
  width: 80px;
  height: 80px;
}

.popup h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
}
.popup h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  text-align: start;
  padding: 0px 50px;
}
.popup img {
  padding: 15px;
  width: 85%;
}

@media (max-width: 525px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    flex-wrap: nowrap;
    padding: 10px 40px;
  }
  footer section {
    margin: 10px 0px;
  }
  #btnBox {
    top: 120px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 769px) {
  #contentBlock {
    margin: 1% 10%;
  }
  #filtros {
    padding: 0px;
  }
  .accordion-button::after {
    display: none;
  }
}
@media (max-width: 950px) {
  .accGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
}
@media (max-width: 425px) {
  .accGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
}/*# sourceMappingURL=main.css.map */