.offcanvas{
    background-color: map-get($map: $paleta, $key: secondary); 
}

.cCard{
    @include flex(column, center, center, nowrap);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    font-family: $secondaryFont;
    margin: 5px;
    transform: rotate(0);

    img{
        padding: 10px;
        border-radius: 20px;
        width: 95%;
    }
    a{
        margin-bottom: 5px;
    }
    h2{
        font-family: $secondaryFont;
        font-size: 1.2em;
        cursor: default;
    }

    input{
        opacity: 0;
    }
}

.longCard{
    @include flex(row, flex-start, center, nowrap);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.accGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    text-align: center;
}

.buttn{
    background-color: map-get($map: $paleta, $key: brownish);
    border: 0.5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103);
    font-family: $mainFont;
    border-radius: 5px;
    transition: 0.3s;
    padding: 3px;
    font-size: 1.2em;
}

.buttn:hover{
    background-color: map-get($map: $paleta, $key: lighterSecondary);
    color: black;
}

.cardHover:hover{
    background-color: rgb(223, 223, 223);
    transition-duration: 0.3s;
}

.cardColorCheck{
    background-color: #ffe9b9;
}

.cfSwal{
    text-align: start;
    word-break:normal;

    h2{
        text-align: center;
    }
}

.accCustom{
    button{
        color: white !important;
    }
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: map-get($map: $paleta, $key: darkerSecondary);
}

.accordion-button{
    color: black;
    background-color: map-get($map: $paleta, $key: darkerSecondary);
}

.carritoVacio{
    @include flex(column, center, center, nowrap);
    margin: 150px 0px 400px 0px;
}

.myCarousel {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.navbar-toggler{
    margin: 2px 0px;
    margin-left: auto;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

// IDs---------------------------------

#btnBox{
    @include flex(column, center, center, nowrap);
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 999;
    button{
        width: 70px;
        height: 70px;
        margin-bottom: 5px;
    }
    img{
        width: 75%;
    }
    svg{
        width: 75%;
    }
}

#filtros{
    padding: 10px;
    h2{
        color: white !important;
        font-family: $mainFont;
    }
    h3{
        font-size: 2em;
    }
    ul{
        list-style: none;
        margin-top: 0;
        padding-left: 10px;
        
        li{
            margin: 8px 0px;
            font-size: 1.1em;
        }
    }
    button{
        margin-bottom: 15px;
    }
}

#carrito{
    background-color: white;
    margin: 5px 0px;
    padding: 16px;

    h3{
        font-size: 1em;
    }

    img{
        width: 80px;
        height: 80px;
    }
}

#cell1, #cell2, #cell3, #cell4, #cell5, #cell6{
    @include flex(row, center, center, nowrap);
    img{
        width: 90%;
        height: 100%;
    }
    div{
        width: 50%;
        @include flex(row, center, center, nowrap);
    }
}

#franjaTop{
    img{
        width: 130px;
    }
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background-image: url("/img/madera.jpg");
    background-size: cover;
}

#offcanvasBottom{
    h3, h5{
        color: white;
    }
}