nav{
    background-color: map-get($map: $paleta, $key: secondary); 

    img{
        width: 3em;
    }
    img[src="./img/icons/cart.png"]{
        width: 2em;
        cursor: pointer;
    }
    a{
        display: flex;
        align-items: center;
    }
}

footer{
    @include flex(row, space-around, flex-start, wrap);
    padding: 15px 0px;
    background-color: map-get($map: $paleta, $key: secondary); 
    a{
        font-size: 1.2em;
    }

    p{
        font-family: $secondaryFont;
        font-size: 1.2em;
    }

    img{
        width: 1.3em;
        margin-right: 5px;
    }
}

body{
    background-color: map-get($map: $paleta, $key: main);
}

a{
    font-family: $secondaryFont;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

h1{
    font-family: $mainFont;
    font-weight: 600;
}

h3{
    font-family: $mainFont;
    font-size: 1.4em;
}