@media (max-width: 375px){
    .popup{
        h3{
            padding: 0px;
        }
    }
}

@media (max-width: 525px){
    footer{
        @include flex(column, space-around, start, nowrap);

        padding: 10px 40px;

        section{
            margin: 10px 0px;
        }
    }
}

@media (min-width: 769px){
    #contentBlock{
        margin: 1% 10%;
    }
}