@media (max-width: 525px){
    footer{
        @include flex(column, space-around, start, nowrap);

        padding: 10px 40px;

        section{
            margin: 10px 0px;
        }
    }

    #btnBox{
        top: 120px;
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 769px){
    #contentBlock{
        margin: 1% 10%;
    }
    #filtros{
        padding: 0px;
    }
    .accordion-button::after{
        display: none;
    }
}

@media (max-width: 950px){
    .accGrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
}

@media (max-width: 425px){
    .accGrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
    }

    .popup{

        h2{
            text-align: center;
        }
    
        h3{
            text-align: start;
            padding: 0px;
        }
    }

    .longCard{
        @include flex(column, flex-start, center, nowrap);
        #cell{
            border-bottom: 0.5px solid;
        }
    }
}