@media (max-width: 525px){
    footer{
        @include flex(column, space-around, start, nowrap);

        padding: 10px 40px;

        section{
            margin: 10px 0px;
        }
    }

    #btnBox{
        top: 200px;
        left: 10px;
        button{
            width: 60px;
            height: 60px;
        }
    }

    h1{
        font-size: 1.8em;
    }

    #cmColumn{
        img{
            width: 100%;
        }
    }
}

@media (min-width: 768px){
    #contentBlock{
        margin: 1% 10%;
    }
    #filtros{
        padding: 0px;
    }
    .accordion-button::after{
        display: none;
    }
}

@media (max-width: 950px){
    .accGrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
    #cmColumn{
        height: 100%;
        margin-left: 5px;
        img{
            width: 95%;
        }
        div{
            margin: 5px 0px;
        }
    }
    #cmIframe{
        width: 100%;
    }
}

@media (max-width: 425px){
    .accGrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
    }

    .popup{

        h2{
            text-align: center;
        }
    
        h3{
            text-align: start;
            padding: 0px;
        }
    }

    .longCard{
        @include flex(column, flex-start, center, nowrap);
        #cell{
            border-bottom: 0.5px solid;
        }
    }
}

@media (max-width: 767px){
    #cell1, #cell2, #cell3, #cell4, #cell5, #cell6{
        width: 80%;
    }
    .myCarousel {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #cmColumn{
        @include flex(column, center, center, nowrap);
        img{
            width: 70%;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    #cell1, #cell2, #cell3, #cell4, #cell5, #cell6{
        width: 85%;
    }
}

@media (min-width: 992px){
    #btnBox{
        top: 200px;
    }
}