@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200&family=Source+Sans+Pro:wght@300;400&family=Ubuntu+Condensed&display=swap');

$paleta:(
    'main': #f3e8c6,
    'secondary': #7c3359,
    'darkerSecondary': #69224e,
    'brownish': #e7c380,
    'greenLeave': #9ebc4a
);

$mainFont: 'Ubuntu Condensed', sans-serif;;
$secondaryFont: 'Source Sans Pro', sans-serif;
$testFont: 'Abel', sans-serif;