@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200&family=Source+Sans+Pro:wght@300;400&display=swap');

$paleta:(
    'main': #ffffff,
    'secondary': #c9b58c,
    'lighterSecondary': #dfd5c0,
    'darkerSecondary': #cabdae,
    'lightPurple': #e46ba3,
    'lighterPurple': #f372b5,
    'darkPurple': #70225e,
    'greenLeave': #9ebc4a
);

$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;