@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200&family=Source+Sans+Pro:wght@300;400&display=swap');

$paleta:(
    'main': #ffe7cb,
    'secondary': #e4d3c0,
    'darkerSecondary': #cabdae,
    'lightPurple': #a94d7c,
    'lighterPurple': #ec6cae,
    'darkPurple': #70225e,
    'greenLeave': #9ebc4a
);

$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;